body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     /* margin-bottom: 40px; */
}

h2{
    margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}



a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}


a#btn_cocacola {
    display: inline-block;
    position: relative;
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    background-image: url("../asset/Coca-Cola-brandlogos.net-O4SwyQ/Coca-Cola\ logo\ -\ Brandlogos.net.svg");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 0.8s ease;

    border-radius: 50%;
}

a#btn_cocacola:hover {
    transform: rotate(-15deg) scale(1.1);
    box-shadow: inset 0px 0px 20px 0px #a80e0e;
}

a#btn_cocacola:before {
    content: "";
    position: absolute;
    width: 500px;
    height: 100%;
    background-image: linear-gradient(
        150deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    filter: blur(1px);
    top: 0;
    left: -100px;
    transform: rotate(-20deg);
    /* transition: all 0.3s; */
    opacity: 0; 
}

a#btn_cocacola:hover:before {
    animation: shine 1.1s infinite linear; 
    opacity: 1;
}

@keyframes shine {
    from {
        left: -100%;
        opacity: 0.3;
    }
    to {
        left: 100%;
        opacity: 0.8;
    }
}

a#btn_cocacola:active{
    filter: brightness(90%);
}

a#btn_apple{
    display: block;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 60px;
    padding-top: 8px;
    /* background-color: #232f3e; */
    color: #e6e6e6;
    text-align: center;
    font-size: 80px;
    transition: all .2s;
    
}

a#btn_apple:hover{
    text-shadow: 3px 3px #d0d0d0;
    filter: blur(0.2px);
    transform:scale(1.1);
    margin-top:55px;
}

a#btn_apple:active {
    color: #9a9a9a;
}


a#btn_nike{
    display: inline-block;
    position: relative;
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 80px;
    background-color: #ffffff;
    background-image: url("../asset/nike-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 0.8s ease;
    z-index:999;
}

a#btn_nike:hover{
    transform: skewY(-20deg);
    transition: all .1s;


    background-image: 
    url("../asset/nike-logo.png"), /* Top layer: logo */
    linear-gradient(-70deg, #ffffff 31.03%, #daff47 31.03%, #ffff47 50%, #ffffff 50%, #ffffff 81.03%, #ffff47 81.03%, #daff47 100%); 

    background-size: 
    contain,   /* logo */
    100% 100%; /* stripes */

    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}


/* a#btn_nike:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(234, 48, 48,0.2);
    z-index:1;
    opacity: 0;
  } */


a#btn_nike:hover:before {
    opacity:1;
  }

  a#btn_fitbit{
    display: inline-block;
    position: relative;
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 80px;
    background-color: #ffffff;
    background-image: url("../asset/fitbit-logo-full.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 2s ease;
    

    
  }

  a#btn_fitbit:hover{
    transform: rotate(-15deg);
    background-image: url("../asset/fitbit-logo.png");
    width:120px;
    height:120px;
    margin-top: 60px;
    transform-origin: center center;

    border-radius: 50%;

    /* box-shadow: 5px 5px 5px 5px #00B0B9;
    filter:blur(5px); */

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  a#btn_fitbit::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 140%;
    height: 140%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 20px 20px 20px 20px #01d7e2;
    filter: blur(20px);
    z-index: -1;
  }

  a#btn_fitbit:active{
    background-image: url("../asset/fitbit-logo-dot.png");
    width:120px;
    height:120px;
    margin-top: 60px;
    transform-origin: center center;

    animation:none;
    -webkit-animation: none;
    box-shadow:none;
  }

  a#btn_fitbit:active::after {
    display: none;
  }

  a#btn_explodingkittens{
    display: inline-block;
    position: relative;
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
    background-color: #ffffff;
    background-image: url("../asset/explodingkittens-icon.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    transition: transform 0.8s;

    border-radius: 50%;
  }

  /* a#btn_explodingkittens:hover{
    margin-top: 60px;
    background-image: url("../asset/explodingkittens.png"), url("../asset/explodingkittens-icon.jpeg")
    ;
    background-position: center -70%, center;

    background-repeat: no-repeat, no-repeat;
    background-size: 100px 100px, 100%, 100%;
  } */

  a#btn_explodingkittens:hover{
    margin-top:60px;
    transform: scale(0.9);
  }

  a#btn_explodingkittens:hover::before {
    content: "";
    position: absolute;
    top: -50px; /* Move it outside the circle */
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-image: url("../asset/explodingkittens.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
  }

  a#btn_explodingkittens:active{
    filter: brightness(0);
  }