html{
    /* margin: 5% 15%; */
    margin: 0;

    font-family:"proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:11pt;
}

body{
    margin:0;
}

hr {

    border: none;
    height: 1px;
    background-color: #ccc; /* or #b64b36 or any visible color */
    margin: 40px 0; /* spacing above and below */
    width: 100%;
  }

header{
    margin: 0;
    
    /* background-color: #eeeeee; */
} 

.start {
    height: 100vh;
    overflow-y: auto; /* if content overflows on small screens */
}

.title{
    background-color: white;
   
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.title h1 > a{
    color: #333;
    

    font-family: "kepler-std", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;

    text-align: center;
    text-decoration: none;

    padding-top: 3px;
    padding-bottom: 3px;
   
}

.title a:hover{
    color:#ebb615;
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* menu: float to the left of container */
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ebb615;
    color: black;
  }

  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
    /* search bar: float to right of container */
    float: right;
    
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom:8px;
    margin-right: 16px;
    font-size: 1em;
  }
  
  @media screen and (max-width: 760px) {
    .topnav {
        /* display as flex, where stack as column */
        display: flex;
        flex-direction: column;


    }

    .topnav a {
        /* align the menu bar items to the left */
        align-items: flex-start;

        /* display the menu links as a bar */
        display: inline-block;
        
    }

    .topnav input[type=text] {
        /* width: 100%; */
        float:none;
        width: 94%;
        margin-left:10px;
        /* margin-bottom: 20px; */
        margin-top: 13px;
        margin-bottom:8px;
        align-items: flex-end;

    }
  }


section.recipeHeader{
display: flex;
flex-direction: row;

/* margin-bottom: 10%; */
/* margin-bottom: */

}

.recipeTitleText{
    
    flex:1; 
    /* ensure take equal space */

    padding-top:5%;
    padding-left:6%;

    background-color:#f2f2f2;

    
  }

 .recipeTitleImage{
    flex:1;
    margin:0;
  }

  .recipeTitleImage img{
    width:60vw;
    height:50vh;
    display: block;
    /* fix the thin white line under the image*/

    object-fit: cover;
    /* clip the image */
  }

div.recipeTitleText li{
    display: block;
    width:50%; 
    line-height:1.4rem;
}

@media screen and (max-width: 900px){
    div.recipeTitleText li{
        width: 25%;
        font-size:0.7rem;

    }
 }
/* this will eliminate the bullet point for all grids*/

div.recipeTitleText ul{
    display: flex;
    flex-wrap: wrap; 
    padding-left:0;
    /* margin-left: 10%; */
}


@media screen and (max-width: 900px) {
    .recipeTitleImage,.recipeTitleText{
        flex: 100%;
    }
    section.recipeHeader{
        flex-direction: column;
    }

    .recipeTitleImage img{
        width:100vw;
        margin: 0;
        padding: 0;
    }


}

pre{
    margin: 0;
    font-family:"proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:11pt;
}

img.icon{
    float:left;
    width:25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 50px;
}

h1{
    margin-top:1%;
    margin-bottom:1%;
}

h2{
    font-size:2rem;
    margin-bottom:2rem;
}

h3{
    /* margin-top:1rem; */
    margin-top:0;
    margin-bottom:1rem;

}

h4{
    /* margin-top:1rem; */
    /* margin-bottom: 1rem; */
    margin-bottom:0;
    margin-top:0;
}

.dietryLim > ul > li {
    line-height:1.6em;
}

article{
    font-size: 1em;
    line-height: 1.6rem;
}




section.intro{
    /* background-color:#f2f2f2; */
    margin:0;
    padding:2%;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3%;
    
    height: auto;

    
}

.gyudonIntro{
    flex:1;
    
    /* height:40%; */
    align-self: stretch;
    /* padding: 10px; */
    padding:25px 40px;
    border-radius:5px;

    background-color: #f2f2f2;
}

.beforeStart{
    flex:1;
    
    /* height:40%; */
    align-self: stretch;
    /* padding: 10px; */
    padding:25px 40px;
    border-radius:5px;

    background-color: #f2f2f2;
}

.beforeStartChild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */

    flex: 1;
    align-self: stretch;
    gap: 1%;
    
}


.dietryLim{
    flex: 1;
    
}

.equipmentsNeed{
    flex: 1;
}


@media screen and (max-width: 900px) {

    /* .box{
        margin-bottom: 3%;
    } */
    .gyudonIntro,.beforeStart{
       
        flex: 100%;
        margin:5%;
    }
    section.intro{
        display: flex;
        flex-direction: column;
    }
}



/* @media screen and (max-width: 900px) {
    .gyudonIntro,.beforeStart{
        flex: 100%;
    }
    section.intro{
        flex-direction: column;
    }
} */
    
/* .beforeStartChild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1%;
}

.dietryLim{
    flex: 1;
}

.equipmentsNeed{
    flex: 1;
} */

/* 
.box{
    border-style:none;
    border-radius:5px;
    /* background-color:rgb(242, 242, 242); 
    color:black;
    padding:5%;
    margin-top:0.05%;
    margin-bottom:0.05%;


    height: 240px;
} */




span.h4-span{
    border-style: none;
    border-radius:5px;
    background-color:rgb(214, 214, 214);
    color: rgb(0, 0, 0);

    /* length and width of <span> box */
    width: auto;
    height: 13px;
    
    /*outside text and box*/
    /* margin-top:10px;
    margin-bottom: 10px;
    margin-left:14px;
    margin-right:15px; */

    /*inside text and yellow box*/
    padding:8px; 
    padding-top:5px;
    padding-right:12px;
    padding-bottom:13px;

    /* to set the span not as text width, but same width throughout */
    display:inline-block; 

    font-size:12pt;

    /* font-size:11pt;
    font-weight:600;
    font-style:normal;
    text-align: left;
    line-height: 130%; */

    margin-top: 0;
}


.after-p{
    display: block; /* makes it have a width */
    content: "";
    margin-top:30px;
}

/* for span JP elements */
.content-JP-regular{
    font-family: "toppan-bunkyu-gothic-pr6n", serif;
    font-weight: 400;
    font-style: normal;
}

.content-JP-bold{
    font-family: "toppan-bunkyu-gothic-pr6n", serif;
    font-weight: 600;
    font-style: normal;
}

.blue{
    color:rgb(94, 134, 208);
}

ul{
    padding-left:13%;
    font-size: 1em;
}

    


.boxBlack{
    border-style:none;
    border-radius:5px;
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding:8%;
    margin-top:0.05%;
    margin-bottom:0.05%;
}


/* 
section.ingredientsAndInstructions{
    margin:0;
    padding:2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:5%;
    
} */
/* 
.ingredients{
    flex:1;
}

.instructions{
    flex:auto;
} */


/* @media screen and (max-width: 900px) {

    .boxBlack{
        margin-bottom: 3%;
    }
    .ingredients,.instruction{
        flex: 100%;
    }
    section.ingredientsAndInstructions{
        flex-direction: column;
    }
} */



section.ingredientsAndInstructions{
    /* background-color:#f2f2f2; */
    margin:0;
    padding:2%;
    padding-bottom: 6%;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-items: flex-start; */
    gap: 5%;
}

.ingredients{
    flex:0.3;
}

.instructions{
    flex:0.7;
}

@media screen and (max-width: 1000px) {
    .ingredients,.instructions{
        flex:0.5;
    }
}

@media screen and (max-width: 760px) {
    .ingredients,.instructions{
        flex: 100%;
    }
    section.ingredientsAndInstructions{
        
        flex-direction: column;
        gap: 5%;
    }

    .boxBlack{
        margin-bottom: 3%;
    }

    .instructions{
        padding: 5%;
    }

    .h4-span {
        display: block; /* Makes sure "To Cook" has its own space */
        margin-bottom: 15px; /* Adds spacing below */
    }
}


img.ingredients{
    padding: 3%;
    width:90%;
    height:auto;

    /* padding:3px; */
    /* margin-top:-5px;
    margin-bottom:-5px;
    margin-left:-3px; */
}

img{
    /* padding: 3%; */
    /* width:150%;
    height:auto; */
    
    padding: 0;
    width:200px;
    margin-left:-10px;

    /* padding:3px; */
    /* margin-top:-5px;
    margin-bottom:-5px;
    margin-left:-3px; */
}


/* .instructions{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main'
} */

/* .instructions > div {
    padding: 10px;
  } */

/* .tipsBeforeCooking{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main'
}

.toPrepareTheIngredients{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main'
}

/ */


.instructions{
    display: flex;
    flex-direction:column;
}

.instructionMain{
    padding:0;
}

.instructionMain ol{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:8%;
    row-gap:15px;
}

@media screen and (max-width: 1200px) {
    .instructionMain ol{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        column-gap:8%;
        row-gap:15px;
    }   
}

@media screen and (max-width: 1000px) {
    .instructionMain ol{
        display: inline-grid;
        grid-template-columns: 1fr;
        column-gap:8%;
        row-gap:3%;
    }   
}


figure{
    margin:0;
    padding:0;
    padding-top:5%;
}

.toPrepareTheIngredients, .toCook, .toStore, .toServe {
    display: block;
    /* padding: 20px; */
    /* margin-top: 25px; Increase spacing between sections */
    /* margin-bottom: 30px; */
    clear: both; /* Ensures sections don’t overlap */
}

.instructions img{
    display: block;
    /* margin-top: 15px; */
    margin-bottom: 15px;
}


footer{
    background-color:#333;
    color: white;

    padding:5%;
    line-height: 1.2rem;
}

footer a{
    color:#ddd;
}

footer div{
    margin-top: 40px;
}