.grid img{
    /* width: 150px; */
    width:90%;
}

.grid{
    padding:0;
}

.grid li{
    display:block;
    width:25%;              /*Should ensures our grid is "4-up" (25% * 4 = 100% of the available width).*/
    text-align:center;      /*Centers the image and name within each box.*/
    font-size:0.8rem;       /*Makes the text a bit smaller.*/
    margin-bottom: 1rem;    /*Adds some space below each item.*/
}

.using-inline-block li{
    display:inline-block;
}

.using-inline-block{
    font-size:0;
    /* Because inline-block elements wrap like words, it turns out the browser pays attention to the space character between these elements in the HTML code */
    /* What's happening is this: we have 25% + 25% + 25% + 25% for our list items + 3 spaces, which adds up to more than 100%. The last item must therefore fall to the next line. */
}

.using-flex{
    display: flex;
    flex-wrap: wrap;
    /* the critical rules for making the grid were appled to the child elements, the lis. This time, we're applying a rule to the parent element, the ul.  */
}

.using-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.using-grid li{
    width:100%;
}